.article {
	&__block {
		display: flex;
		flex-direction: column;
		row-gap: 12px;

		background-color: $gray-200;
		border-radius: calc($border-radius - $padding-inner);

		&:hover {
			color: $gray-100;
			background-color: rgba($primary-600, 0.75);
		}
	}

	&-img {
		width: 100%;
		height: 150px;

		border-radius: calc($border-radius - $padding-inner);
		object-fit: cover;
	}

	&__title {
		padding-inline: 16px;
	}

	&__date {
		padding: 0 16px 16px 16px;
	}
}

.articles-section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 32px;
	grid-row-gap: 32px;
	justify-items: stretch;
	align-items: stretch;

	width: 100%;

	@include mobile {
		grid-template-columns: repeat(2, 1fr);
	}

	@include small-mobile {
		grid-template-columns: repeat(1, 1fr);
	}
}
