.article {
	&__block {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}

	&-img {
		width: 100%;
		height: 150px;

		border-radius: calc($border-radius - $padding-inner);
		object-fit: cover;
	}

	&__title {
	}

	&__link {
		color: $dark-100;
		text-decoration: underline;

		&:hover {
			color: $primary-600;
		}
	}
}
