body {
	color: $dark-100;
	background: $gray-100;

	font-family: $font-family-base;

	@include fluid-text(18, 16);

	font-weight: 300;

	&.modal-open {
		overflow: hidden;
	}

	&::-webkit-scrollbar {
		width: 17px;
	}

	&::-webkit-scrollbar-track {
		background: $gray-100;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $primary-600;
	}
}

h1 {
	@include fluid-text(56, 42);
}

h2 {
	@include fluid-text(40, 36);
}

h3 {
	@include fluid-text(30, 26);
}

h4 {
	@include fluid-text(20, 18);
}

p {
}

section {
	padding: 80px 0;
}
