.container {
	margin-inline: auto;
	padding: 0 $padding-x;

	width: 100%;
	max-width: $container-width;
}

.intro {
	height: 100vh;

	color: $gray-100;

	&--small {
		height: 80vh;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		row-gap: 8px;

		height: 100%;
	}
}

.background-tint {
	background-color: rgba($dark-100, 0.75) !important;
	background-blend-mode: multiply;

	&-gradient {
		background: rgb(18, 18, 18);
		background: linear-gradient(360deg, rgba($dark-100, 1) 0%, rgba(255, 255, 255, 0) 100%);
	}
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}
