.container {
	margin-inline: auto;
	padding: 0 $padding-x;

	width: 100%;
	max-width: $container-width;
}

.intro {
	height: 100vh;

	color: $gray-100;

	&--small {
		height: 80vh;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		row-gap: 8px;

		height: 100%;
	}
}

.background-tint {
	background-color: rgba($dark-100, 0.75) !important;
	background-blend-mode: multiply;
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid $primary-600;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
