// primary
$primary-100: #dee6fb;
$primary-200: #c5d2f7;
$primary-300: #a4b9f3;
$primary-400: #7c9aed;
$primary-500: #4c75e7;
$primary-600: #1d4fd7;

// gray
$gray-100: #f2f3f4; // For body background color
$gray-200: #e1e3e7; // For cards background color
$gray-300: #caced4; // For chips buttons, dropdowns background color
$gray-400: #adb3bc; // For sidebars, navbar background color
$gray-500: #89919e; // For modal, dialogs background color
$gray-600: #626a77; // For on background texts color

// dark
$dark-100: #121212; // For body background color
$dark-200: #282828; // For cards background color
$dark-300: #3f3f3f; // For chips buttons, dropdowns background color
$dark-400: #575757; // For sidebars, navbar background color
$dark-500: #717171; // For modal, dialogs background color
$dark-600: #8b8b8b; // For on background texts color

$container-width: 1200px;
$padding-x: 20px;
$padding-inner: 16px;

$section-padding-y: 80px;

$border-radius: 24px;

$font-family-base: 'Roboto', sans-serif;

$transition-duration: 0.2s;
