.mainpage {
	background: url(../../images/intro-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.latest-articles {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}

	&__link {
	}
}

.latest-news {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}
}
